eyed3==0.9.6
libmagic
Pillow
python-magic
python-magic-bin
PyYAML
requests
typing
tqdm
youtube_dl
#git+https://github.com/tombulled/python-youtube-music#egg=ytm[dl]
git+https://github.com/fmigneault/python-youtube-music@fix-illegal-chars#egg=ytm[dl]
