eyed3==0.9.6
libmagic
Pillow
python-magic
python-magic-bin
PyYAML
requests
typing
tqdm
youtube_dl
# FIXME: until merged (https://github.com/tombulled/python-youtube-music/pull/14)
#   should try using 'innertube' instead
#   (https://github.com/tombulled/python-youtube-music/issues/13#issuecomment-923262424)
# git+https://github.com/tombulled/python-youtube-music#egg=ytm[dl]
git+https://github.com/fmigneault/python-youtube-music@patch-new-youtube-music-version#egg=ytm[dl]
