name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch: # Allow manual trigger

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        job: ['test']
        python-version:
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
        include:
          - job: lint
            python-version: '3.12'
            os: ubuntu-latest

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        make install-dev

    - name: Show dependencies
      run: |
        pip freeze

    - name: Run linting
      if: matrix.job == 'lint'
      shell: bash
      run: |
        make check-only

    - name: Run tests
      if: matrix.job == 'test'
      run: |
        make test
